<div class="article-form-center mt-4">
  <h1>Editing Article</h1>

  <%= render 'form', article: @article %>
 
  <div class="px-2">
    <%= link_to 'Show', @article %> |
    <%= link_to 'Back', articles_path %>
  </div>
</div>
