<%= provide(:title, 'Sign Up') %>

<div class="container mt-3 pt-2 my-auto h-80">
  <div class="form-center">
    <div class="my-auto h-100">
    <h1>Sign Up</h1>

    <%= render 'form', user: @user %>

    <p class="mt-3">
      <%= link_to 'Sign In', new_session_path %>
    </p>
    </div>
  </div>
</div>
