// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.notice,
.alert {
  margin-bottom: 8px;
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.username {
  color: pink !important;
  text-transform: uppercase;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #2cebd1;
  text-align: center;
}

.container-fluid {
    .row {
        .featured-article {
            height: 60vh;
        }
    }
}
